<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
        
        <record id="action_paciente" model="ir.actions.act_window">
				<field name="name">Paciente</field> 
				<field name="res_model">res.partner</field>	 
				<field name="type">ir.actions.act_window</field> 
				<field name="view_type">form</field>  
				<field name="view_mode">tree,form</field>
				<field name="view_id" ref="base.view_partner_tree" /> 
				<field name="domain">[('customer','=',True)]</field>
				<field name="target">current</field>
					
		</record>

		<menuitem id="menu_paciente"
					sequence="5"
					parent="hip_clinica.menu_clinica_consulta"
					action="action_paciente"
		/>  
    </data>
</openerp>